@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.body-container {
  overflow-x: hidden;
  max-width: 1440px;
  position: relative;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

.conteiner {
  max-width: 1440px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media (max-width: 1050px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1050px) {
  .logo {
    margin: 0;
  }
}

.logo .logo__image {
  margin-left: 0;
}

.logo .logo__title {
  margin-left: 0;
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  letter-spacing: 6px;
  color: #000000;
}

@media (max-width: 767px) {
  .logo .logo__title {
    font-size: 16px;
    line-height: 20px;
  }
}

.logo .logo__title .logo__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  /* or 182% */
  letter-spacing: 3px;
  color: #000000;
}

.logo .logo__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  /* or 182% */
  letter-spacing: 3px;
  color: #000000;
}

@media (max-width: 767px) {
  .logo .logo__subtitle {
    font-size: 10px;
    letter-spacing: 2px;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .menu-list {
    display: none;
  }
}

.menu-list .menu-list__element {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 102% */
  color: #000000;
}

.menu-list .menu-list__element:not(:last-child) {
  margin-right: 35px;
}

.burger {
  display: none;
  z-index: 3;
}

.burger .needle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1050px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 50px;
    height: 50px;
  }
}

.burger-menu {
  display: none;
  right: -700px;
  position: absolute;
  top: 0;
  width: 288px;
  height: 100vh;
  padding-top: 130px;
  padding-left: 40px;
  background: #fcf8f8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

@media (max-width: 1050px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.burger-menu .burger__navigation {
  margin-left: 0px;
}

.burger-menu .burger__list li {
  list-style-type: none;
  margin-bottom: 20px;
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 119% */
  letter-spacing: 0.15em;
  color: #000000;
}

.burger-menu.open {
  right: 0;
}

.burger-menu.open .needle_2.close {
  display: none;
}

#needle_3.close {
  opacity: 0;
}

#needle_1.close {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#needle_2.close {
  -webkit-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

.main_screen__title {
  margin-top: 190px;
  margin-left: 10%;
}

.main_screen__title p {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  /* or 146% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #5B4646;
}

@media (max-width: 1050px) {
  .main_screen__title p {
    font-size: 35px;
    line-height: 55px;
    letter-spacing: 0.03em;
  }
}

.main_screen__subtitle {
  position: absolute;
  width: 500px;
  right: 60px;
}

@media (max-width: 1050px) {
  .main_screen__subtitle {
    display: none;
  }
}

.main_screen__subtitle p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  /* or 105% */
  letter-spacing: 0.05em;
  color: #5B4646;
}

.main_screen {
  position: relative;
  z-index: -1;
  margin-top: -185px;
  padding-top: 120px;
  width: 100vw;
  height: 900px;
  background-image: url("assets/images/main_background_desktop.png");
}

.main_screen__button {
  display: none;
  width: 160px;
  height: 40px;
  border: none;
  background: 1;
  margin-top: 175px;
  margin-left: 18px;
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  background-color: rgba(89, 74, 84, 0.59);
}

@media (max-width: 767px) {
  .main_screen__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section_why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.section_why__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1240px) {
  .section_why__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .section_why__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
}

.section_why__item {
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 5px #D9D9D9;
          box-shadow: 4px 4px 5px #D9D9D9;
  padding: 20px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .section_why__item {
    max-width: 290px;
  }
}

.section_why__item .items__image {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_why__item .why__items__text {
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section_why__item .why__items__text .items__title {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 200px;
  margin-bottom: 25px;
}

.section_why__item .why__items__text .items__title p {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* or 119% */
  letter-spacing: 0.05em;
  color: #000000;
}

.section_why__item .why__items__text .items__text p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 136% */
  color: #000000;
}

.section__title {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* or 95% */
  letter-spacing: 1px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 35px;
}

.items__title {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */
  letter-spacing: 0.05em;
  color: #000000;
}

.items__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* or 136% */
  color: #000000;
}

.section__my-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 767px) {
  .my-products__buttons {
    gap: 10px;
  }
}

.my-products__button {
  width: 170px;
  padding: 5px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 119% */
  letter-spacing: 0.1em;
  color: #000000;
}

@media (max-width: 767px) {
  .my-products__button {
    width: 115px;
  }
}

.my-products__slider {
  width: 60%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .my-products__slider {
    width: 75%;
  }
}

.my-products__slider .slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.slider_next {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 5%;
}

.slider_next :hover {
  cursor: pointer;
}

.slider_preview {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 50%;
  left: 5%;
}

.slider_preview :hover {
  cursor: pointer;
}

.slider__arrow {
  color: red;
  width: 50px;
  height: 50px;
}

.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_me .about_me__my-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

@media (max-width: 1050px) {
  .about_me .about_me__my-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about_me .my_foto {
  margin-bottom: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about_me .about_me__text {
  max-width: 800px;
  height: 600px;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  .about_me .about_me__text {
    padding: 0 50px;
  }
}

.about_me .about_me__text p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 156% */
  letter-spacing: 0.05em;
  color: #000000;
}

.about_me .about_me__text .signature {
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer .footer__text {
  width: 320px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* or 136% */
  color: #000000;
}

@media (max-screen: 360px) {
  .footer .footer__text p {
    text-align: center;
  }
}

.footer .logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.footer .create_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test_screen {
  border: 2px solid black;
  width: 700px;
  height: 600px;
  background: url("/assets/my_works/тест.jpeg");
  background-size: contain;
}

@media (max-width: 767px) {
  .create_info > .logo {
    display: none;
  }
}

.products__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.products__menu .products__category h3 {
  font-family: 'Montserrat';
}

@media (max-width: 500px) {
  .products__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px 30px;
  }
}

.products__cards {
  display: -ms-grid;
  display: grid;
  width: 65%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1050px) {
  .products__cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .products__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
}

.product-card {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px;
  -webkit-box-shadow: 5px 5px 10px #dee3e4;
          box-shadow: 5px 5px 10px #dee3e4;
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 300px;
}

.product-image {
  width: auto;
  height: 90%;
  overflow: hidden;
  /* добавил для избежания вылезания фото за границу блока*/
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.card__info .card__title {
  margin-bottom: 15px;
}

.card__info .card__title h3 {
  font-family: 'Montserrat';
  /* or 107% */
  letter-spacing: 0.05em;
  color: #000000;
}

.card__info .card__subtitle {
  width: 95%;
  height: 70px;
  margin-bottom: 15px;
}

.card__info .card__subtitle h5 {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 18px;
  /* or 150% */
  color: #000000;
}

.card__info .card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop-up__background {
  display: none;
  width: 100%;
  min-height: 100%;
  background: rgba(102, 98, 98, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.card_pop-up {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 550px;
  width: 80%;
  background: #fcf8f8;
}

.card_pop-up .pop-up__image {
  width: 100%;
  margin-bottom: 30px;
}

.card_pop-up .pop-up__subscribe {
  margin: 0;
  padding: 0 65px;
}

.card_pop-up .pop-up__title {
  margin-bottom: 25px;
}

.card_pop-up .pop-up__title h3 {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* or 80% */
  letter-spacing: -0.005em;
  color: #000000;
}

.card_pop-up .pop-up__subtitle {
  margin-bottom: 25px;
}

.card_pop-up .pop-up__subtitle h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  color: #000000;
}

.card_pop-up .pop-up__info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.card_pop-up .pop-up__info h4 {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.card_pop-up .pop-up__info p {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.card_pop-up .pop-up__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.card_pop-up .pop-up__price .pop-up__button_order {
  width: 125px;
  height: 40px;
  margin: 0 0 10px 0;
  background: #B0B331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.modal__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  background: #fcf8f8;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .modal__card {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .modal__card {
    width: 80%;
  }
}

.modal__card .modal__image {
  width: 90%;
  margin: 20px auto;
}

.modal__card .modal__subscribe {
  margin: 0;
  padding: 0 20px;
}

.modal__card .modal__title {
  margin-bottom: 25px;
}

.modal__card .modal__title h2 {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* or 80% */
  letter-spacing: -0.005em;
  color: #000000;
}

.modal__card .modal__subtitle {
  margin-bottom: 20px;
}

.modal__card .modal__subtitle h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  color: #000000;
}

.modal__card .modal__info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.modal__card .modal__info h4 {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

@media (max-width: 576px) {
  .modal__card .modal__info h4 {
    font-size: 12px;
  }
}

.modal__card .modal__info p {
  margin: 0 0 0 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

@media (max-width: 576px) {
  .modal__card .modal__info p {
    font-size: 12px;
  }
}

.modal__card .modal__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 360px) {
  .modal__card .modal__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .modal__card .modal__price .modal__info {
    margin: 10px 0;
  }
  .modal__card .modal__price a {
    margin: 10px 0;
  }
}

.modal__card .modal__price .modal__button_order {
  width: 100px;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  border-radius: 2px;
  background: #e4eaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

@media (max-width: 576px) {
  .modal__card .modal__price .modal__button_order {
    width: auto;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */